<a href="https://colab.research.google.com/github/mopferman/sales-predictions/blob/main/sales_predictions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
filename = '/content/drive/MyDrive/sales_predictions.csv'

In [2]:
df = pd.read_csv(filename)
df.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [3]:
df.fillna(0)

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
1              DRC01        5.920  ...  Supermarket Type2           443.4228
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
3              FDX07       19.200  ...      Grocery Store           732.3800
4              NCD19        8.930  ...  Supermarket Type1           994.7052
...              ...          ...  ...                ...                ...
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.380  ...  Supermarket Type1           549.2850
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[8523 rows x 12 columns]

In [5]:
df[df.duplicated(keep = False)]

Empty DataFrame
Columns: [Item_Identifier, Item_Weight, Item_Fat_Content, Item_Visibility, Item_Type, Item_MRP, Outlet_Identifier, Outlet_Establishment_Year, Outlet_Size, Outlet_Location_Type, Outlet_Type, Item_Outlet_Sales]
Index: []

In [13]:
df.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1         3735.1380
1           DRC01         5.92  ...  Supermarket Type2          443.4228
2           FDN15        17.50  ...  Supermarket Type1         2097.2700
3           FDX07        19.20  ...      Grocery Store          732.3800
4           NCD19         8.93  ...  Supermarket Type1          994.7052

[5 rows x 11 columns]

In [14]:
df.drop(columns = 'Outlet_Establishment_Year', inplace = True)
df.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1         3735.1380
1           DRC01         5.92  ...  Supermarket Type2          443.4228
2           FDN15        17.50  ...  Supermarket Type1         2097.2700
3           FDX07        19.20  ...      Grocery Store          732.3800
4           NCD19         8.93  ...  Supermarket Type1          994.7052

[5 rows x 10 columns]